{% extends "base_mvv.html" %}

{% block head %}
<title>Buscar | Mi Vitrina Online</title>
{% endblock %}

{% block content %}
	<div class="panel col-md-12">
		<h2 class="text-center">Encuentra el Bien/Servicio que buscas</h2>

		<form id="findBienServicio" class="input-group">
			<input id="busqueda" name="busqueda" type="search" class="form-control" placeholder="¿Que Estas Buscando?" autocomplete="off" required />
			<span class="input-group-btn">
				<input class="btn btn-success btn-find" id="buscar" type="submit" value="Buscar" />
			</span>
		</form>

		<span class="divider"></span>

		<div class="text-left">
			<h2 class="text-left"><b>Categorias</b></h2>
			<ul class="list-inline">
				{% for categoria in categorias %}
				<li class=" label label-success label-app">
					<a href="{% url 'busqueda' categoria.slug %}" class="normal">
						{{ categoria.categoria }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock %}

{% block scripts %}
<script>
	$(function(){

		$('#findBienServicio').submit(function(e) {
			e.preventDefault()
			palabraBuscada = $('#busqueda').get(0);

			palabraBuscada = palabraBuscada.value;
			window.location = '/b/pl/'+palabraBuscada;
		})
	})
</script>
{% endblock %}



