{% extends "base_mvv.html" %}
{% load staticfiles %}
{% load humanize %}
{% block head %}
<title>Buscar | Mi Vitrina Online</title>
{% endblock %}
{% block content %}
<div class="container content-info">
	<div class="row">
		<div class="row">
			<div class="col-xs-12">
				<h3>
					{{bienServicio.nBienServicio}}
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<figure>
					<img src="{{bienServicio.foto.url}}" alt="{{bienServicio.nBienServicio}}" class="img-thumbnail" >
				</figure>
			</div>
			<div class="col-xs-6">
				<div class="row">
					<div class="col-xs-12 ">
						<h4><b>Descripción:</b></h4>
						<p align="justify">{{bienServicio.descripcion}}</p>
					</div>

					<ul class="col-xs-12 list-unstyled">
						<li class="label label-app label-warning col-xs-6 col-md-6 text-center separador-label" data-toggle="tooltip" data-placement="top" title="Calificación">
							<i class="glyphicon glyphicon-star "></i>
							<strong >
								{% if bienServicio.val_promedio %}
								{{ bienServicio.val_promedio }}
								{% else %}
								<span>Ninguno</span>
								{% endif %}
							</strong>
						</li>
						<li class="label label-app label-danger col-xs-6 col-md-6 text-center separador-label " data-toggle="tooltip" data-placement="top" title="Precio">
							<i class="glyphicon glyphicon-usd "></i>
							<strong >
								{% if bienServicio.precio %}
								{{ bienServicio.precio | intcomma }}
								{% else %}
								<span>por acordar</span>
								{% endif %}
							</strong>
						</li>
					</ul>
				</div>
				<div class="row">
					<div class="col-xs-12 ofertante-info text-center ">
						<h4><b>Información del ofertante:</b></h4>
						<div class="ofertante-nombre">
							<img src="{{bienServicio.usuario.foto.url}}" alt="{{bienServicio.usuario.}}" width="40" />
							{{bienServicio.usuario.usuario.first_name}} {{bienServicio.usuario.usuario.last_name}}
						</div>
						<button class="btn btn-success" id="js_btnVermasDatos">Ver datos de contacto</button>
						<section class="verMasDatos" id="js_verMasDatos">
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row sugerencias">
		<h3 class="sugerencias-titulo">Otros Bienes/Servicios de {{bienServicio.usuario.usuario.first_name}} {{bienServicio.usuario.usuario.last_name}}</h3>
		<div class="row">
			{% if bienesServicioUsuario %}
			<div class="panel">
				<div class="owl-carousel owl-theme owl-rtl owl-loaded">
					{% for  bieneServicioUsuario in bienesServicioUsuario %}
						<a class="normal" href="{% url 'detallebusqueda' slug=bieneServicioUsuario.slug %}" title="{{bienServicio.nBienServicio}}">
							<div class="recomendado">
								<strong><p class="text-center">...{{bieneServicioUsuario.nBienServicio|slice:"15"}}</p></strong>
								<img src="{{bieneServicioUsuario.foto.url}}" alt="">
								<span class="label label-app label-success">{{bieneServicioUsuario.categoria}}</span>
							</div>
						</a>
					{% endfor %}
				</div>
			</div>
			{% else %}
			<p>No hay otros Bienes/Servicionde de este ofertante.</p>
			{% endif %}
		</div>
	</div>
	<div class="row sugerencias">
		<h3 class="sugerencias-titulo">Sugerencias de Búsqueda</h3>
		<div class="row">
			{% if recomendados %}
			<div class="panel">
				<div class="owl-carousel owl-theme owl-rtl owl-loaded">
					{% for  recomendado in recomendados %}
						<a class="normal" href="{% url 'detallebusqueda' slug=recomendado.slug %}" title="{{bienServicio.nBienServicio}}">
							<div class="recomendado">
								<strong><p class="text-center">...{{recomendado.nBienServicio|slice:"15"}}</p></strong>
								<img src="{{recomendado.foto.url}}" alt="">
								<span class="label label-app label-success">{{recomendado.categoria}}</span>
							</div>
						</a>
					{% endfor %}
				</div>
			</div>
			{% else %}
			<p>No hay sugerencias para esta búsqueda</p>
			{% endif %}
		</div>
	</div>
</div>

{% verbatim %}
<script id="pregunta-template" type="text/x-handlebars-template">
	<div id="pregunta-hecha">
		<div class="contenedorPregunta">
			<p class="preguntaEspecifica" style="display: inline-block;">
				<span class="glyphicon glyphicon-comment"></span>
				{{this.pregunta}}
			</p>
		</div>
		<div class="pregunta-mensaje alert alert-success" role="alert">
			<b>
				{{this.mensaje}}
			</b>
		</div>
	</div>
</script>
<script id="datos-contacto-template" type="text/x-handlebars-template">
	<ul class="ofertante-datos ">
		<ul class="list-unstyled">
			<li class="numeroTelefonico">
				<i class="glyphicon glyphicon-phone-alt"></i>
				<span>Telefonos</span>
			</li>
			<li class="numeroTelefonico">
				<span class="strong" >{{ this.celular1 }}</span>
			</li>
			<li class="numeroTelefonico">
				<span class="strong" >{{ this.celular2 }}</span>
			</li>
			<li class="numeroTelefonico">
				<span class="strong" >{{ this.celular3 }}</span>
			</li>
			<li>
				<i class="glyphicon glyphicon-envelope"></i>
				<span>Email:</span>
				<span class="strong">{{ this.email }}</span>
			</li>
		</ul>
	</ul>
</script>
{% endverbatim %}
{% endblock content %}
{% block scripts %}
<script src="{% static 'jsapp/csrf_load.js' %}"></script>
<script>
	$(function() {
		//capturar boton y añadir el evento click
		$("#js_btnVermasDatos").click(function () {
			$.ajax({
				url: '{% url 'datosdecontacto' %}' ,
				type: 'GET' ,
				dataType: 'json',
				data:{
					id: {{bienServicio.id}},
				},
				success : function(json)
				{
					var source = $("#datos-contacto-template").html();
					var template = Handlebars.compile(source);
					t = template(json);
					console.log($('#js_verMasDatos'))
					$('#js_verMasDatos').html(t);
					$("#js_btnVermasDatos").toggle()
				}
			})
		})

	})
</script>
{% endblock scripts %}
