{% extends "base_mvv.html" %}

{% load staticfiles %}
{% load humanize %}

{% block head %}
<title>Bienes/Servicios | Mi Vitrina Online </title>
{% endblock %}

{% block content %}
	<div class="row first">
		<div class="full col-md-12">
			<a href="{% url 'bienes-servicios' %}" class="btn btn-primary left">Atrás</a>
		</div>
	</div>
	<div class="row second">
		<div class="col-md-12 label-category label-description text-center">
			<p>
				<strong>
					{{ bienServicio.categoria }} -
					{% if bienServicio.estado %}
					<span class="text-success">Activo</span>
					{% else %}
					<span class="text-danger">Inactivo</span>
					{% endif %}
				</strong>
			</p>
		</div>
		<div class="notice text-center col-xs-12 col-md-12 ">
			<div class="imgDetalleEdit relative">

				<a class="link-user linkCambiarFoto" data-toggle="modal" data-target="#editarFotoModal">
					<img src="/media/{{ bienServicio.foto }}" class="img-responsive center-block img-thumbnail">
				</a>
			</div>
			<ul class="list-unstyled">
				{% if bienServicio.estado %}
				<li >
					<a class="link-user" data-toggle="modal" data-target="#desactivarModal">
						<span class="glyphicon glyphicon-stop"></span><span>Inactivar</span>
					</a>
				</li>
				{% else %}
				<li >
					<a class="link-user" data-toggle="modal" data-target="#activarModal">
						<span class="glyphicon glyphicon-play"></span><span>Activar</span>
					</a>
				</li>
				{% endif %}
				<li>
					<a class="link-user" data-toggle="modal" data-target="#editarModal">
						<span class="glyphicon glyphicon-pencil"></span><span>Editar</span>
					</a>
				</li>
			</ul>

			<div class="col-md-12">
				<h3>{{ bienServicio.nBienServicio | capfirst}}</h3>
				<p>{{ bienServicio.descripcion | capfirst}}</p>
			</div>
			<ul class="col-md-12 list-unstyled">
				<li class="col-xs-4 col-md-4 label label-app label-warning" data-toggle="tooltip" data-placement="top" title="Puntos">
					<i class="glyphicon glyphicon-star desc3"></i>
					{% if bienServicio.val_promedio %}
					<span class="desc">Puntuacion: </span>
					<strong class="desc3">{{ bienServicio.val_promedio}}</strong>
					{% else %}
					<strong class="desc3">ninguno</strong>
					{% endif %}
				</li>
				<li class="col-xs-4 col-md-4 label label-app label-success" data-toggle="tooltip" data-placement="top" title="Solicitudes">

					<i class="glyphicon glyphicon-th-list desc3"></i>
					{% if bienServicio.val_promedio %}
					<span class="desc">Solicitudes: </span>
					<strong class="desc3">{{ bienServicio.num_solicitudes }}</strong>
					{% else %}
					<strong class="desc3">ninguno</strong>
					{% endif %}
				</li>
				<li class="col-xs-4 col-md-4 label label-app label-danger" data-toggle="tooltip" data-placement="top" title="Precio">

					<i class="glyphicon glyphicon-usd desc3"></i>
					{% if bienServicio.precio %}
					<span class="desc">Precio: </span>
					<strong class="desc3">{{ bienServicio.precio | intcomma}}</strong>
					{% else %}
					<strong class="desc3">ninguno</strong>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>
	{% if bienServicio.estado %}
	<div class="modal fade" id="desactivarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">
						<b>Desactivar Bien/Servicio</b>
					</h4>
				</div>
				<div class="modal-body">
					<div class="content-modal">
						<p>
							Seguro quieres desactivar el Bien/Servicio: <b><h4>"{{ bienServicio.nBienServicio }}" ?</h4></b>
							Esto significa que las personas no podrán encontrarte si buscan un bien/servicio como este o similar.
						</p>
						<div class="accept">
							<button id="btn-desactivar" class="btn btn-success">Si, seguro</button>
							<button class="btn btn-danger" data-dismiss="modal">No, Salir</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% else %}
	<div class="modal fade" id="activarModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">
						<b>Activar Bien/Servicios</b>
					</h4>
				</div>
				<div class="modal-body">
					<div class="content-modal">
						<p>
							Al activar el Bien/Servicio: <b><h4>"{{ bienServicio.nBienServicio }}"</h4></b> permitiras que otras personas te encuentren si buscan un bien/servicio como este o similar.
						</p>
						<div class="accept">
							<button id="btn-activar" class="btn btn-success">Si, seguro</button>
							<button href="#" class="btn btn-danger" data-dismiss="modal">No, Salir</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	{% endif %}
	<div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" >
						<b>Editar Bien/Servicio</b>
					</h4>
				</div>
				<div class="modal-body">
					<div class="content-modal">
						<form id="editar-form" method="post">
							<div class="form-group">
								<input id="id-bien-servicio" type="hidden" name="id" value="{{bienServicio.id}}">
								<input id="{{form.categoria.id_for_label}}" type="hidden" name="{{form.categoria.id_for_label}}" value="{{form.categoria.value}}">
								{% csrf_token %}
								<p>
									{{form.nBienServicio.label_tag}}
									{{form.nBienServicio}}
								</p>
								<p>
									{{form.descripcion.label_tag}}
									{{form.descripcion}}
								</p>
								<p>
									{{form.precio.label_tag}}
									{{form.precio}}
								</p>
								<p>
									<input type="submit" value="Guardar" class="btn btn-success">
									<button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
								</p>
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="modal fade" id="editarFotoModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" >
						<b>Editar Foto</b>
					</h4>
				</div>
				<div class="modal-body">
					<div class="content-modal">
						<h4>
							Selecciona una foto para tu bien/servicio
						</h4>
						<p>
							Esta foto aparecera cuando otras personas busquen un bien/servicio como este o similar. <br> <span class="font-descrip-min">Puedes cargar archivos JPEG, PNG (tamaño max. 2MB)</span>
						</p>
						<div>
							<form id="subir-foto-form" enctype="multipart/form-data">
								<p>
									<input type="file" id="archivo-foto" name="foto" onchange="mostrarFoto(event)" />
								</p>
								<div>
									<figure >
										<img id="preview-img" src="">
									</figure>
								</div>
								<p>
									<input type="submit" value="Guardar" class="btn btn-success">
									<button href="#" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block scripts %}
	<script src="{% static 'jsapp/csrf_load.js' %}"></script>
	<script>
		var mostrarFoto = function(event) {
			var preview = document.getElementById('preview-img');
			preview.src = URL.createObjectURL(event.target.files[0]);
		};

		$(function () {
			$('[data-toggle="tooltip"]').tooltip();

			$('#btn-desactivar').click(function () {
				$.ajax({
					url: '{% url 'desactivar-bien-servicio' %}',
					type: 'POST',
					data: { id : '{{ bienServicio.id }}'},
					success: function (json) {
						location.reload();
					},
				});
			});

			$('#btn-activar').click(function(){
				$.ajax({
					url : '{% url 'activar-bien-servicio' %}',
					type : 'POST',
					data : {id : '{{bienServicio.id}}'},
					success:function(json){
						location.reload();
					}
				});
			})

			$('#editar-form').on('submit', function(event){
				event.preventDefault();
				$.ajax({
					url: '{% url 'editar-bien-servicio' %}',
					type: "POST",
					dataType: 'json',
					data : {
						id : $('#id-bien-servicio').val(),
						categoria: $('#id_categoria').val(),
						nBienServicio: $('#id_nBienServicio').val(),
						descripcion: $('#id_descripcion').val(),
						precio: $('#id_precio').val(),
					},
					success: function(json){
						location.reload();
					},
				});
			});

			$('#subir-foto-form').on('submit',function(event)
			{
				event.preventDefault();
				archivoSeleccionado = document.getElementById('archivo-foto');

				var archivo = archivoSeleccionado.files[0];
				var formData = new FormData();

				formData.append('id', {{bienServicio.id}});

				if (archivo.type.match('image.*'))
				{
					if (archivo.size < 1024 * 1024 * 2)
					{
						formData.append('foto', archivo);
						var xhr = new XMLHttpRequest();

						xhr.open('POST', '{% url 'foto-bien-servicio' %}', true);
						xhr.send(formData);
						xhr.onload = function () {
							if (xhr.status === 200) {
								console.log(xhr.response);
								location.reload();
							}
							else {
								alert('Ha ocurrido un error, Intentelo nuevamente!');
							}
						};
					}
					else
					{
						alert('Archivo muy grande');
					}
				}
				else
				{
					alert('Esto No es una imagen');
				}
			});
		});
	</script>
{% endblock %}
