appdirs==1.4.0
beautifulsoup4==4.5.3
CurrencyConverter==0.8.1
dj-database-url==0.4.1
Django==1.9.12
django-braces==1.8.0
django-easy-pdf==0.1.0
django-htmlmin==0.8.0
django-postgrespool==0.3.0
django-pyodbc-azure==1.9.12.0
djrill==2.1.0
gunicorn==19.6.0
html5lib==0.999999999
oauthlib==0.6.1
packaging==16.8
Pillow==3.3.1
psycopg2==2.6.2
pyodbc==4.0.3
pyparsing==2.1.10
requests==2.13.0
six==1.10.0
SQLAlchemy==1.1.5
virtualenv==15.0.3
webencodings==0.5
whitenoise==3.3.0