@import "nib"
vendor-prefixes = webkit o ms moz official

colorBaseApp1 = #FFC618
colorBaseApp2 = #43B7D8
colorBaseApp2Oscuro = #006182

.NAME_APP
	font-weight bold
	.mi
		color colorBaseApp1
	.vitrina
		color colorBaseApp1
	.online
		color colorBaseApp2

a
	color colorBaseApp2
	&:hover
		color colorBaseApp2Oscuro
	&.normal
		color inherit
		text-decoration none

.img-profile
	height 200px

.footer
	background-color white
.recomendado
.last_update
	border 1px solid #ececec
	border-radius 3px
	font-size 18px
	img
		height 103px
		width auto !important
		margin 0 auto
	.category
		width 100%
		display block

.more
	border 1px solid #ececec
	border-radius 3px
	img
		margin 0 auto
		height: 95px
		width: auto
	.category
		width 100%
		display block

.label-app
	color white
	font-size 14px
	display block
