@import "nib"
vendor-prefixes = webkit o ms moz official

colorBaseApp1 = #FFC618
colorBaseApp2 = #43B7D8
colorBaseApp2Oscuro = #006182

*
	transition 0.5s

html
	position relative
	min-height 100%

body
	margin-bottom: 60px;
	background-color #f8f8f8

.navbar-default
	border-radius 0px
	border-color #f8f8f8
	background-color white
	border 0
	img
		margin-top -8px

.form-control
	height 40px

h2
	margin-top 0

.how-fun
.div_gray
	padding 20px

.how-fun
	color white !important
	background-color #2196F3

.div_gray
	color black !important
	background-color #e2e2e2

.page-header
	padding 0
	margin 0
	margin-bottom 10px

.btn
	padding 10px 30px
	border 0px

.btn-success
	background-color #28B463
	&:hover
		background-color #229954

.btn-warning
	background-color #D68910
	&:hover
		background-color #CA6F1E

.white-block
	background-color white
	box-shadow 0px 2px 2px 0px rgba(0,0,0,0.14)
	padding 10px
	margin 10px

.footer
	position absolute
	bottom 0
	width 100%
	height 60px
	background-color #1976D2

.text-muted
	color white
	margin 20px 0
	a
		color #2196F3

.NAME_APP
	font-weight bold
	.mi
		color colorBaseApp1
	.vitrina
		color colorBaseApp1
	.online
		color colorBaseApp2

a
	color colorBaseApp2
	&:hover
		color colorBaseApp2Oscuro
	&.normal
		color inherit
		text-decoration none

.img-profile
	height 200px

.recomendado
.last_update
	border 1px solid #ececec
	border-radius 3px
	font-size 18px
	img
		height 103px
		width auto !important
		margin 0 auto
	.category
		width 100%
		display block
		
.more
	border 1px solid #ececec
	border-radius 3px
	img
		width 90%
		margin 0 auto
	.category
		width 100%
		display block

.label
	border-radius 0

.link
	color white !important

.label-app
	color white
	font-size 14px
	display block
