{% extends "base_mvv.html" %}

{% load staticfiles %}

{% block head %}
	<title>Inicio | Mi Vitrina Online</title>
	<style>
		.menuItemInicio{
			background-color: #729C34;
		}
	</style>
{% endblock %}

{% block content %}
	<div>
		<div class="panel">
			<div class="input-group">
				<input id="findSpeed" name="findSpeed" type="text" class="form-control" placeholder="¿Buscas algo?" autocomplete="off">
				<span class="input-group-btn">
					<button id="btnFindSpeed" class="btn btn-group btn-success">Buscar</button>
				</span>
			</div>
		</div>
	</div>
	<div class="panel">
		<div class="owl-carousel owl-theme owl-rtl owl-loaded">
			
		{% for recomendado in recomendados %}
			<a class="normal" href="{% url 'detallebusqueda' slug=recomendado.slug %}">
				<div class="recomendado">
					<strong><p class="text-center">{{recomendado.nBienServicio}}</p></strong>
					<img src="media/{{recomendado.foto}}" alt="">
					<span class="label label-app label-success">{{recomendado.categoria}}</span>
				</div>
			</a>
		{% endfor %}
		</div>
	</div>

	<section class="container">
		<article>

			<h2 class="text-center">Como Funciona</h2>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet sit distinctio, veniam deleniti incidunt nulla officia esse vero delectus asperiores velit veritatis eius atque aliquid. Beatae, similique labore illo facere.</p>

		</article>
	</section>
	<script>
		$("#btnFindSpeed").click(function(){
			if(!$("#findSpeed").val()) return
			window.location = "/b/pl/" + $("#findSpeed").val()
		})
	</script>
{% endblock %}
