{% extends "base_mvv.html" %}

{% load staticfiles %}

{% block head %}
	<title>Inicio | Mi Vitrina Online</title>
{% endblock %}

{% block content %}
	<section class="container">
		<div class="panel">
			<div class="input-group">
				<input id="findSpeed" name="findSpeed" type="text" class="form-control" placeholder="¿Buscas algo?" autocomplete="off">
				<span class="input-group-btn">
					<button id="btnFindSpeed" class="btn btn-group btn-success">Buscar</button>
				</span>
			</div>
		</div>

		<h2>Novedades</h2>
		<div class="owl-carousel owl-theme owl-rtl owl-loaded row">
			{% for bienServicio in last_update %}
				<a class="normal" href="{% url 'detallebusqueda' slug=bienServicio.slug %}" title="{{bienServicio.nBienServicio}}">
					<div class="last_update">
						<strong><p class="text-center">{{bienServicio.nBienServicio|slice:"15"}}... <span class="label label-success">Nuevo</span></p></strong>
						<img class="img-responsive center-block" src="{{bienServicio.foto.url}}" alt="">
						<span class="label category label-app label-primary">{{bienServicio.categoria}}</span>
					</div>
				</a>
			{% endfor %}
		</div>
		<h2>Mas Bienes/Servicios</h2>
		<section id="more-bienes-servicios">

			<ul class="row col-md-12 list list-unstyled" >
				{% for bienServicio in more %}
					<li class="col-md-2 col-sm-3 col-xs-3">
						<a class="normal" href="{% url 'detallebusqueda' slug=bienServicio.slug %}" title="{{bienServicio.nBienServicio}}">
							<div class="more">
								<strong><p class="text-center">{{bienServicio.nBienServicio|slice:"15"}}...</p></strong>
								<img class="img-responsive center-block" src="{{bienServicio.foto.url}}" alt="">
								<span class="label category label-app label-success">{{bienServicio.categoria}}</span>
							</div>
						</a>
					</li>
				{% endfor %}
			</ul>
			<ul class="pagination"></ul>
		</section>

		<article>
			<h2 class="text-center">Como Funciona</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet sit distinctio, veniam deleniti incidunt nulla officia esse vero delectus asperiores velit veritatis eius atque aliquid. Beatae, similique labore illo facere.</p>
		</article>
	</section>
	<script>
		$("#btnFindSpeed").click(function(){
			if(!$("#findSpeed").val()) return
			window.location = "/b/pl/" + $("#findSpeed").val()
		})


		var options = {
			page: 8,
			plugins: [
				ListPagination({})
			]
		};

		var listObj = new List('more-bienes-servicios', options);
	</script>
{% endblock %}
